@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #333333;
}

.heading {
  @apply text-3xl font-semibold text-center mt-3;
}

.image-slider-container {
  margin: 0 auto;
  width: 400px;
}

.image-slider-container .slick-prev:before,
.image_slider-container .slick-next:before {
  color: black;
}
